TOKEN=YOUR_BOT_TOKEN_HERE
GUILD_ID=1499513606210060419
YOUTUBE_URL=https://youtube.com/@YOUR_CHANNEL
PAYPAL_URL=https://paypal.me/YOURPAYPAL
LTC_ADDRESS=YOUR_LTC_ADDRESS
CUSTOMER_ROLE_ID=
MUTED_ROLE_ID=
